*{
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    border: 0;
    word-wrap: break-word;
    word-break: break-word;
}

body, textarea, select, input, button {
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
}

body, html, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, header, menu, section, p, input, td, th, ins {
    padding: 0;
    margin: 0;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

div {
    display: block;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1100px;
    margin: 0 auto;
    height: 100%;
}
.section_container{
    width: 980px;
    margin: 0 auto;
}

/*默认样式清空,并添加版心*/
.header{
    height: 69px;
    background: #242424;
}
.header_left .img{
    width: 176px;
    height: 69px;
    background: url(/images/topbar.png) no-repeat;
}
.header_left,.header_nav,.header_right{
    float: left;
}
.header_nav ul li{
    float: left;
}
.header_nav ul li a{
    height: 69px;
    padding: 0 19px;
    line-height: 69px;
    display: block;
    color: #ffffff;
}
.header_nav ul li a:hover{
    background: #000000;
}
.header_nav ul li .action{
    background: #000000;
}

.m-subnav {
    z-index: 90;
    height: 35px;
    box-sizing: border-box;
    background-color: #C20C0C;
    border-bottom: 1px solid #a40011;
}

.m-subnav .wrap {
    width: 1100px;
    height: 34px;
    margin: 0 auto;
}

.f-pr {
    position: relative;
    zoom: 1;
}

.m-subnav .nav {
    float: left;
    padding-left: 180px;
}
/*头部*/